RewriteEngine on

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

DirectoryIndex indexx.php
RewriteRule ^home$ indexx.php [NC,L]
RewriteRule ^about$ aboutx.php [NC,L]
RewriteRule ^properties$ propertiesx.php [NC,L]
RewriteRule ^agents$ agentsx.php [NC,L]
RewriteRule ^marketplace$ marketplacex.php [NC,L]
RewriteRule ^contact-us$ contact-usx.php [NC,L]
RewriteRule ^login$ loginx.php [NC,L]
RewriteRule ^logout$ logoutx.php [NC,L]
RewriteRule ^forgot-password$ forgot-passwordx.php [NC,L]
RewriteRule ^category$ marketplacex.php [NC,L]
RewriteRule ^register$ registerx.php [NC,L]
RewriteRule ^my-account$ my_accountx.php [NC,L]
RewriteRule ^my-property$ my_propertyx.php [NC,L]
RewriteRule ^terms-conditions$ terms_conditionsx.php [NC,L]
RewriteRule ^faq$ faqx.php [NC,L]
RewriteRule ^terms-conditions$ terms_conditionsx.php [NC,L]
RewriteRule ^single/([0-9a-zA-Z@_.]+)$ single.php?id=$1 [NC,L]

RewriteRule ^admin-login$ admin_loginx.php [NC,L]
RewriteRule ^admin-dashboard$ admin_dashboardx.php [NC,L]

RewriteRule ^404 404.php [NC]
ErrorDocument 404 /RealEstate/404.php